<!-- Section 5 o footer? -->
<section class="contactos">
  <h2>contactos</h2>
  <div class="container-contactos">
    <a href="https://twitter.com/fran_marin3" target="_blank"
      ><img src="/assets/twitter.png" alt="Twitter" class="img-contact"
    /></a>
    <img src="/assets/linkedin.png" alt="Linkedin" class="img-contact" />
    <img src="/assets/mail.png" alt="Gmail" class="img-contact" />
    <a href="https://github.com/Franse0" target="_blank"
      ><img src="assets/GitHub-Logo.png" alt="gitHub" class="img-contact"
    /></a>
  </div>
  <p>Hecho con <span>❤</span></p>
</section>
