<app-header></app-header>
<section class="educacion" id="educacion">
    <h2>Educación/Edicion</h2>
    <p class="intro-education">
      "Como programador full stack junior, valoro mucho la educación y estoy
      comprometido a seguir aprendiendo y mejorando mis habilidades
      constantemente. Creo que la educación es un proceso continuo y esencial para
      mantenerme actualizado en un entorno tecnológico en constante cambio."
    </p>
  
    <div class="card-education" *ngFor="let educacion of educacionLista">
      <img
        [src]="educacion.img_school"
        alt=""
        class="img-card-education"
      />
      <div class="container-info-education">
        <h3>{{educacion.nombre}}</h3>
        <p>
          {{educacion.descripcion}}
        </p>
        <p>Id:{{educacion.id}}</p>
        <i class="fa-solid fa-magnifying-glass"
          ><a
            [href]="educacion.certificado"
            target="_blank"
            >ver certificado</a
          ></i>  <span *ngIf="logueado">{{educacion.id}}</span>
        <div class="in-login" id="in-login" *ngIf="logueado" >
          <i class="fa-solid fa-trash" (click)="borrar(educacion.id)"></i>
        </div>
      </div>
    </div>
    
    <section>  
    
    


<form [formGroup]="formEdit" (ngSubmit)="agregarEducacion()" class="form-edit" >
 <h3>Agrega una educacion</h3>
    <div class="form-edit-container">
      <label for="escuela" >Escuela</label>
      <input type="text"  formControlName="escuela" >
    </div>
    <div class="form-edit-container">
      <label for="escuela" >img_school</label>
      <input type="text"  formControlName="img_school" >
    </div>
    <div class="form-edit-container">
      <label for="escuela" >Descripcion</label>
      <input type="text"  formControlName="descripcion" >
    </div>
    <div class="form-edit-container">
      <label for="start" >Start</label>
      <input type="text"  formControlName="start" >
    </div>
    <div class="form-edit-container">
      <label for="escuela" >End</label>
      <input type="text"  formControlName="end" id="escueala">
    </div>
    <div class="form-edit-container">
      <label for="escuela" >Certificado</label>
      <input type="text"  formControlName="certificado" id="escueala">
    </div>
    <div class="form-edit-container">
      <label for="escuela" >Persona id</label>
      <input type="text"  formControlName="persona_id" id="escueala">
    </div>
    <button type="submit"> Agregar</button>

  </form>

  
  
  
  <form (submit)="borrarEsto()" [formGroup]="formBorrar" >
      <h3>Borra con el numero de id que ves en pantalla</h3>
     <input type="number" formControlName="identificador"> 
     <button type="submit" >borrar</button>
    </form> 
 
    