<div class="body" *ngIf="!loading">
    <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario">
        <h1>Registro</h1>

        <p>Email</p>
        <input type="email" name="email" formControlName="email" id="" placeholder="email">
        <br>
        <span *ngIf="registrarUsuario.get('email')?.hasError('required') && registrarUsuario.get('email')?.touched" class="errorInWindow">El <strong>Correo</strong> es Requerido</span>
        <span *ngIf="registrarUsuario.get('email')?.hasError('email') && registrarUsuario.get('email')?.touched" class="errorInWindow">El <strong>Correo</strong> es Invalido</span>
        
        <br>
        <br>
        <p>Contraseña</p>
        <input type="password" name="password" formControlName="password" id="" placeholder="contraseña" >
        <br>
        <span *ngIf="registrarUsuario.get('password')?.hasError('required') && registrarUsuario.get('password')?.touched" class="errorInWindow">La <strong>contraseña</strong> es Requerido</span>
        <span *ngIf="registrarUsuario.get('password')?.hasError('minlength') && registrarUsuario.get('password')?.touched" class="errorInWindow">La <strong>Contraseña</strong> es demasiado corta</span>
        <br>
        <p>Repetir contraseña</p>
        <input type="password" name="password" formControlName="repetirPassword" id="" placeholder="contraseña">
        <br>
        <span *ngIf="registrarUsuario.get('repetirPassword')?.hasError('required') && registrarUsuario.get('repetirPassword')?.touched" class="errorInWindow">La <strong>contraseña</strong> es Requerido</span>
        <span *ngIf="registrarUsuario.get('repetirPassword')?.hasError('minlength') && registrarUsuario.get('repetirPassword')?.touched" class="errorInWindow">La <strong>Contraseña</strong> es demasiado corta</span>
        <br>
        <button type="submit" [disabled]="registrarUsuario.invalid" >Enviar</button>
        <br>
    </form>
</div>

<app-spinner *ngIf="loading"></app-spinner>

