<!-- Section 4  skills-->
<section class="skills" id="skills">
  <h2>habilidades</h2>
  <div class="cards-skills">
    <div class="cardd" *ngFor="let skills of skillsList">
      <img
        id="js"
        [src]="skills.img_tec"
        alt="logo"
        class="card-habilida-img"
      />
      <h4>{{skills.nombre_tec}}</h4>
      <div class="in-login" id="in-login" *ngIf="logueado">
        <i class="fa-solid fa-pen" routerLink="/tecnologiasedit"></i>
      </div>
    </div>

  </div>

  
  <h2>Habilidades Blandas</h2>
  <div class="cards-skills">
    <div class="cardd">
      <p>ingles: medio</p>
      <div class="in-login" id="in-login" *ngIf="logueado">
      </div>
    </div>
    <div class="cardd">
      <p>Adaptabilidad</p>
      <div class="in-login" id="in-login" *ngIf="logueado">
        <i class="fa-solid fa-pen"></i>
      </div>
    </div>
    <div class="cardd">
      <p>Inteligencia emocional</p>
      <div class="in-login" id="in-login" *ngIf="logueado">
        <i class="fa-solid fa-pen"></i>
      </div>
    </div>
    <div class="cardd">
      <p>Resolucion de problemas</p>
      <div class="in-login" id="in-login" *ngIf="logueado">
        <i class="fa-solid fa-pen"></i>
      </div>
    </div>
    <div class="cardd">
      <p>Capacidad de colaboracion</p>
      <div class="in-login" id="in-login" *ngIf="logueado">
        <i class="fa-solid fa-pen"></i>
      </div>
    </div>
    <div class="cardd">
      <p>Capacidad de recibir retroalimentacion</p>
      <div class="in-login" id="in-login" *ngIf="logueado">
        <i class="fa-solid fa-pen"></i>
      </div>
    </div>
  </div>
</section>
