<!-- Section 4  skills-->
<section class="skills" id="skills">
  <h2>habilidades</h2>
  <div class="in-login" id="in-login" *ngIf="logueado">
    <i class="fa-solid fa-pen" routerLink="/tecnologiasedit"></i>
  </div>
  <div class="cards-skills">
    <div class="cardd" *ngFor="let skills of skillsList">
      <img
        id="js"
        [src]="skills.img_tec"
        alt="logo"
        class="card-habilida-img"
      />
      <h4>{{skills.nombre_tec}}</h4>
      <div class="in-login" id="in-login" *ngIf="logueado">
        <i class="fa-solid fa-pen" routerLink="/tecnologiasedit"></i>
      </div>
    </div>


  </div>



</section>
