<!-- Section 4  skills-->
<section class="skills">
  <h2>habilidades</h2>
  <div class="cards-skills">
    <div class="cardd" *ngFor="let skills of skillsList">
      <img
        id="js"
        [src]="skills.img_tec"
        alt="logo"
        class="card-habilida-img"
      />
      <h4>{{skills.nombre_tec}}</h4>
      <div class="in-login" id="in-login">
        <i class="fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
    <!-- <div class="cardd">
      <img
        src="./assets/angular-logo.png"
        alt="logo"
        class="card-habilida-img"
      />
      <h4>Angular</h4>
      <div class="in-login" id="in-login">
        <i class="fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
    <div class="cardd">
      <img src="./assets/Java-Logo.png" alt="logo" class="card-habilida-img" />
      <h4>Java</h4>
      <div class="in-login" id="in-login">
        <i class="fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
    <div class="cardd">
      <img
        src="./assets/spring-boot-logo.png"
        alt="logo"
        class="card-habilida-img"
      />
      <h4>SpringBoot</h4>
      <div class="in-login" id="in-login">
        <i class="fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
    <div class="cardd">
      <img src="./assets/mysql-logo.png" alt="logo" class="card-habilida-img" />
      <h4>MySql</h4>
      <div class="in-login" id="in-login">
        <i class="fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
    <div class="cardd">
      <img
        src="./assets/Typescript-logo.png"
        alt="logo"
        class="card-habilida-img"
      />
      <h4>TypeScript</h4>
      <div class="in-login" id="in-login">
        <i class="fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
    <div class="cardd">
      <img src="./assets/html-logo.png" alt="logo" class="card-habilida-img" />
      <h4>Html</h4>
      <div class="in-login" id="in-login">
        <i class="fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
    <div class="cardd">
      <img src="./assets/css-logo.png" alt="logo" class="card-habilida-img" />
      <h4>Css</h4>
      <div class="in-login" id="in-login">
        <i class="fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div> -->
  </div>

  
  <h2>Habilidades Blandas</h2>
  <div class="cards-skills">
    <div class="cardd">
      <p>ingles: medio</p>
      <div class="in-login" id="in-login">
        <i class="fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
    <div class="cardd">
      <p>Adaptabilidad</p>
      <div class="in-login" id="in-login">
        <i class="fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
    <div class="cardd">
      <p>Inteligencia emocional</p>
      <div class="in-login" id="in-login">
        <i class="fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
    <div class="cardd">
      <p>Resolucion de problemas</p>
      <div class="in-login" id="in-login">
        <i class="fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
    <div class="cardd">
      <p>Capacidad de colaboracion</p>
      <div class="in-login" id="in-login">
        <i class="fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
    <div class="cardd">
      <p>Capacidad de recibir retroalimentacion</p>
      <div class="in-login" id="in-login">
        <i class="fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
  </div>
</section>
