<!-- Header y nav -->
<header id="header">
  <div class="img-nav-contianer">
    <img src="./assets/arg-programa.png" class="img-nav" alt="arg programa" />
  </div>
  <button class="bars" (click)="abrirNav()">
    <i class="fa-solid fa-bars" id="bars" ></i>
  </button>
  <nav class="nav" id="nav">
    <ul class="nav-list">
      <li><a href="#acerca_de" class="in-section">Acerca de mi</a></li>
      <li><a href="#experiencia" >Experiencia</a></li>
      <li><a href="#educacion">Educacion</a></li>
      <li><a href="#skills">Skilss</a></li>
      <li><a href="#contacto">Contacto</a></li>
      <li>
        <a routerLink="/login"><i class="fa-regular fa-user" id="login" *ngIf="!logueado"></i></a>
        <a  (click)="logOut()" routerLink="/portfolio"><i class="fa-solid  fa-right-from-bracket" id="login" *ngIf="logueado"></i></a>
      </li>
    </ul>
  </nav>
</header>
