<app-header></app-header>
<!-- Section 2 experiencia -->

<section class="experiencia" id="experiencia">
    <h2>Experiencia/Edicion</h2>
    <div class="experiencia-cards-container">
      <ul>
        <li class="card" *ngFor="let experiencia of experienciaList">
          <h3>{{experiencia.nombre_exp}}</h3>
          <img [src]="experiencia.img_exp" class="img-card-experiencia" alt="" />
          <p>
            {{experiencia.descripcion}}
          </p>
          <p>
            <span *ngIf="logueado">id:{{experiencia.id}}</span>
          </p>
          <button (click)="getExperiencia(experiencia.id)" *ngIf="logueado">Editar</button>

          <form class="in-login" id="in-login" *ngIf="logueado">
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-trash" (click)="borrar(experiencia.id)"></i>
          </form>
        </li>
      </ul>
    </div>
    
    <form (ngSubmit)="agregarExperiencia()" [formGroup]="formEdit" class="form-edit">
    <label> Id</label>
    <input type="text"formControlName="id">
    <br>
    <label for="">Nombre Expereincia</label>
    <input type="text" formControlName="nombre_exp" >
    <br>
    <label for="">Descripcion</label>
    <input type="text" formControlName="descripcion">
    <br>
    <label for="">url Imagen</label>
    <input type="text" formControlName="img_exp" >
    <br>
    <label for="">Url Git</label>
    <input type="text" formControlName="url_git" >
    <br>
    <label for="">Persona id</label>
    <input type="text" formControlName="persona_id" >
    <br>
    <button type="submit">Cargar</button>
    <button type="button" (click)="editarExperiencia()">Actualizar</button>
  </form>


</section>