
<!-- Section 3 educacion -->
<section class="educacion" id="educacion">
  <h2>Educación</h2>
  <div class="in-login" id="in-login" *ngIf="logueado" >
    <i class="fa-solid fa-pen"  (click)="editar()" ></i>
  </div>
  <p class="intro-education">
    "Como programador full stack junior, valoro mucho la educación y estoy
    comprometido a seguir aprendiendo y mejorando mis habilidades
    constantemente. Creo que la educación es un proceso continuo y esencial para
    mantenerme actualizado en un entorno tecnológico en constante cambio."
  </p>

  <div class="card-education" *ngFor="let educacion of educacionList">
    <img
      [src]="educacion.img_school"
      alt=""
      class="img-card-education"
    />
    <div class="container-info-education">
      <h3>{{educacion.escuela}}</h3>
      <p>
        {{educacion.descripcion}}
      </p>
      <i class="fa-solid fa-magnifying-glass">
        <a
          [href]="educacion.certificado"
          target="_blank"
          >ver certificado</a>
        </i>  
      <div class="in-login" id="in-login" *ngIf="logueado" >
        <i class="fa-solid fa-pen"  (click)="editar()" ></i>
      </div>
    </div>
  </div>
</section>
